@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #dbdbdb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .overflow-auto::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-auto {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  height: 14.45px;
  width: 14.45px;
  border-radius: 50%;
  background: #FFA500;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: none;
  background: transparent;
}

input[type="range"]::-moz-range-thumb {
  height: 14.45px;
  width: 14.45px;
  border-radius: 50%;
  background: #FFA500;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #FFA500;
}

input[type="range"]::-ms-fill-upper {
  background: #D0D0D3;
}

input[type="range"]::-ms-thumb {
  height: 14.45px;
  width: 14.45px;
  border-radius: 50%;
  background: #FFA500;
  cursor: pointer;
  height: 8px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #FFA500;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #D0D0D3;
}
